@using NumberSortingWebApp.Library.Alert;
@using NumberSortingWebApp.Library.Algorithm.Sorting;
@model ListViewModel
@{
    ViewData["Title"] = "Number Sorting Job List";
}

@if (TempData.ContainsKey("alert"))
{
    <div class="alert alert-@Model.alert.Type.ToString()" role="alert">
        @Model.alert.Message
    </div>
}
<div class="text-center">
    <h2>Sort List</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numbers</th>
                <th scope="col">Sort Direction</th>
                <th scope="col">Time Taken (ms)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sortedNumberRow in Model.sortedNumberRowList)
            {
                <tr>
                    <td>@sortedNumberRow.SortedArray</td>
                    <td>@(sortedNumberRow.SortDirection == 0 ? "Descending" : "Ascending")</td>
                    <td>@sortedNumberRow.TimeTaken</td>
                    <td><button value="Export">Export</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="text-left">
    <a asp-area="" asp-controller="NumberSorting" asp-action="New" class="btn btn-primary btn-sm">Create New Sort Job</a>
</div>