@model CreateViewModel
@{
    ViewData["Title"] = "Create New Sort Job";
}

@if (TempData.ContainsKey("alert"))
{
    <div class="alert alert-@Model.Alert.Type.ToString()" role="alert">
        @Model.Alert.Message
    </div>
}
<div class="text-left">
    <form method="post" asp-action="Create">
        <table class="table">
            <tr>
                <td>Numbers</td>
                <td>
                    <input type="text" class="form-control" asp-for="SortedNumbersRow.SortedArray" required/>
                    <div class="valid-feedback"></div>
                </td>
            </tr>
            <tr>
                <td>Sort Order</td>
                <td>
                    <select asp-for="SortedNumbersRow.SortDirection">
                        <option value="0">Descending</option>
                        <option value="1">Ascending</option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="text-align:left">
            <!--<a asp-area="" asp-controller="NumberSorting" asp-action="Create" class="btn btn-primary btn-sm">Create</a>-->
            <input type="submit" />
        </div>
    </form>
</div>
